.AppCard {
  background-color: #ffffff;
  border-radius: 5px;
  height: 190px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.appSize {
  width: 100px;
  height: 90px;
}
p {
  font-family: 'Bree Serif';
  color: #1e293b;
  font-size: 25px;
}
